html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

//COMMON
html, body {
  //background-color: teal;
  background-color: #40a070;
}

h1 {
  font-size: 25px;
  padding: 10px;
  color: #880000;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//COMPONENTS
.navigation {
  background-color: teal;
  height: 70px;
  margin: 0 auto;
  padding: 10px 2%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  a {
    text-decoration: none;
    font-size: 35px;
    padding-right: 20px;
    color: #880000;

  }
  a:hover {
    font-size: 50px;
  }

  a:visited {
    color: #880000;
  }
}

.home-view {
  min-width: 300px;
  min-height: 300px;
  background-color: #40a070;
  margin: 0 auto;
  padding: 0 2%;
}

#logo {
  width: 50px;
  height: 100%;
}

//MODULES
.all-countries {
  padding: 10px;
  display: inline-block;
  float: left;
}

.country-details {
  position: fixed;
  top: 120px;
  left: 35%;
  min-width: 40%;
  height: 90%;
  //background-color: #006600;
  display: inline-block;
}

.country-item {

}

.country-item:hover {
  color: #880000;
  cursor: pointer;
}

.td-key {
  color: #880000;
  min-width: 130px;
}

.td-val {
  min-width: 130px;
}

.compare-ico:hover {
  cursor: help;
}

.compare-ico:active {
  color: #880000;
}

.flex-right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.float-right {
  float: right;
  display: inline-block;
}

.float-left {
  float: left;
  display: inline-block;
}

.country-table {
  table, tr, td{
    border: 1px solid #880000;
    border-collapse: collapse;
  }
  td{
    padding: 5px;
  }
}

.alphabet-navigation{
  height: 40px;
  margin: 0 auto;
  padding: 10px 2%;

  ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
  }

  li{

  }

}